<div class="container">
	<div class="row">
		<div class="col-sm-12">
            {{!-- {{movieTitle.Title}} --}}
			<h2>Title:&nbsp; {{movieTitle.Title}}</h2><br />
            <h2>Rated:&nbsp; {{movieTitle.Rated}}</h2><br />
            <h2>Year:&nbsp; {{movieTitle.Released}}</h2><br />

            <img src="{{movieTitle.Poster}}"><br />
		</div>
	</div>
</div>
