<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="data">
				<table class="tablesorter display compact">
		            <thead>
		                <tr>
		                    <th>Name</th>
		                    <th>Department</th>
		                    <th>Price</th>
		                    <th>Stock</th>
		                    <th>Active</th>
		                    <th>Action</th>
		                </tr>
		            </thead>
	                {{#each products}}
	                    <tr id="{{this.id}}">
	                        <td>{{this.name}}</td>
	                        <td>{{this.department}}</td>
	                        <td>{{ formatPrice this.price}}</td>
	                        <td>{{this.stock}}</td>
	                        <td>
	                        	{{#if this.active}}
	                        		Yes
	                        	{{else}}
	                        	  	No
	                        	{{/if}}
	                    	</td>
	                        <td><a href="{{this.id}}/edit" class="btn btn-success btn-sm btn-edit"><span class="glyphicon glyphicon-pencil"></span></a>
	                        <a data-id="{{this.id}}" class="btn btn-danger btn-sm btn-delete"><span class="glyphicon glyphicon-remove"></span></a></td>
	                    </tr>
					{{/each}}
				</table>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
        
            <div class="modal-body">
                <p>You are about to delete one product, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteProduct" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>